n8n/YouTube_Playlist_Zusammenfasser.json
{
  "name": "YouTube Playlist Zusammenfasser",
  "nodes": [
    {
      "parameters": {
        "command": "echo \"[$(date '+%Y-%m-%d %H:%M:%S')] {{$json[\"videoId\"]}} - Zusammenfassung erstellt.\" >> /data/scripts/yt_summary_log.txt"
      },
      "id": "6a18b8b3-e010-494d-af7e-b8294acdcf90",
      "name": "Log Video verarbeitet",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1740,
        420
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=echo \"{{ $json.videoId }}\" >> /data/scripts/yt_processed_ids.txt"
      },
      "id": "7c971ee9-3065-43b2-b18b-81ced24f9143",
      "name": "Video prozessiert vermerken",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1900,
        520
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=/data/scripts/n8n/YouTube_Summarizer/yt-venv/bin/python /data/scripts/n8n/YouTube_Summarizer/yt_transcript.py {{ $json[\"videoId\"] }} WEBHOOK-NODE-URL EINTRAGEN"
      },
      "id": "204e987b-4e2d-4836-bcd1-6579705df3e1",
      "name": "Senden an Webhook für ChatGPT und Telegram",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2060,
        660
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = JSON.parse($json.stdout);\nreturn {\n  json: {\n    videoId: data.videoId,\n    new: data.new\n  }\n};"
      },
      "id": "e947757a-e8ca-4592-b64f-c4f4ac06b365",
      "name": "Parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "82a9be77-f025-44e8-9100-4e3542ba05f1",
              "leftValue": "={{ $json.new }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d936730e-8237-4ecd-8b1c-14755d212486",
      "name": "Nur verarbeiten wenn neu",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        540
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=if grep -Fxq \"{{ $json.videoId }}\" /data/scripts/yt_processed_ids.txt; then\n  echo '{\"new\": false, \"videoId\": \"{{ $json.videoId }}\"}'\nelse\n  echo '{\"new\": true, \"videoId\": \"{{ $json.videoId }}\"}'\nfi"
      },
      "id": "57aafb48-c529-407c-b9f1-9111a8446ca3",
      "name": "Prüfen ob Video bereits verarbeitet wurde",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1180,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6f06b39-4936-4819-9bbd-89e948b4b586",
              "name": "=videoId",
              "value": "={{ $json.snippet.resourceId.videoId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "29bb5810-e75f-49ec-ad29-1717dd683b28",
      "name": "Herausziehen der Video-ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1000,
        540
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "02bafcb2-dec8-4b73-b958-4f88a9302c71",
      "name": "Aufteilen bei mehreren Videos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        820,
        540
      ]
    },
    {
      "parameters": {
        "url": "HIER YOUTUBE-API EINTRAGEN",
        "options": {}
      },
      "id": "5f07bb23-9426-4d6c-93f9-277a6085cf0e",
      "name": "Playlist aus Youtube abfragen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        620,
        540
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "812226dd-34f0-45d5-8c60-1e426069e09f",
      "name": "Zeitlicher Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        440,
        540
      ]
    },
    {
      "parameters": {},
      "id": "038635bf-c56b-4da8-8caa-fa84838ed254",
      "name": "Fehler Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        620,
        760
      ]
    },
    {
      "parameters": {
        "chatId": "5594163002",
        "text": "=Fehler in Workflow: {{$json[\"workflow\"][\"name\"]}}\nVideo-ID (falls vorhanden): {{$json[\"item\"][\"videoId\"]}}\nFehler: {{$json[\"error\"][\"message\"]}}",
        "additionalFields": {}
      },
      "id": "bbb979f6-7e38-4ed4-ba89-b56d9261927a",
      "name": "Versand Fehlernachricht",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        840,
        760
      ],
      "credentials": {
        "telegramApi": {
          "id": "HIER TELEGRAM-API EINTRAGEN",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Parsen": {
      "main": [
        [
          {
            "node": "Nur verarbeiten wenn neu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nur verarbeiten wenn neu": {
      "main": [
        [
          {
            "node": "Video prozessiert vermerken",
            "type": "main",
            "index": 0
          },
          {
            "node": "Senden an Webhook für ChatGPT und Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Video verarbeitet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfen ob Video bereits verarbeitet wurde": {
      "main": [
        [
          {
            "node": "Parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Herausziehen der Video-ID": {
      "main": [
        [
          {
            "node": "Prüfen ob Video bereits verarbeitet wurde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aufteilen bei mehreren Videos": {
      "main": [
        [
          {
            "node": "Herausziehen der Video-ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Playlist aus Youtube abfragen": {
      "main": [
        [
          {
            "node": "Aufteilen bei mehreren Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zeitlicher Trigger": {
      "main": [
        [
          {
            "node": "Playlist aus Youtube abfragen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fehler Trigger": {
      "main": [
        [
          {
            "node": "Versand Fehlernachricht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "925906ec-13c0-4061-8598-95b4dc9b0437",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aeb458b20e713d5817b125787f16434360a4842a7df99fb7178135d5cd572fee"
  },
  "id": "Ygr0kJ3FIxQCgrMX",
  "tags": []
}