n8n/YouTube_Transcript_Handler.json
{
  "name": "YouTube Transcript Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-summary-receive",
        "options": {}
      },
      "id": "5e00b681-f3ac-4bfd-b8e5-661780059c11",
      "name": "Info from Workflow1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        400,
        260
      ],
      "webhookId": "3e34c9f7-1037-4f2e-8cb7-56ac6a07bce7"
    },
    {
      "parameters": {
        "chatId": "YOUR TELEGRAM CHAT ID",
        "text": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "id": "d1c0f7a6-3464-493c-a574-927f91288909",
      "name": "Send Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1020,
        260
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR TELEGRAM API",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "ef1dedfa-13d7-4348-a6fa-10135e0b05f6",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        440,
        480
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR TELEGRAM CHAT ID",
        "text": "=An error occurred in workflow: {{$json[\"workflow\"][\"name\"]}}\nVideo ID (if available): {{$json[\"item\"][\"videoId\"]}}\nError message: {{$json[\"error\"][\"message\"]}}",
        "additionalFields": {}
      },
      "id": "af8f610c-c53b-446f-9e4d-5b9eeb21f4dc",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        660,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR TELEGRAM API",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Du erhältst im Folgenden das vollständige Transkript eines YouTube-Videos.\n1. Liste mir die 8 bis 10 wichtigsten Stichpunkte aus dem Transkript auf. Formuliere kurz, prägnant und verständlich.\n2. Erstelle anschließend eine zusammenhängende Fließtext-Zusammenfassung mit 7 bis 10 Sätzen, die die Hauptaussagen und das wesentliche Thema des Videos abdeckt:\n\n{{$json[\"body\"][\"transcript\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0bf54a6-f12f-41bb-8d4c-8f974620e132",
      "name": "Summarize Video",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.2,
      "position": [
        620,
        260
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR OPENAI API",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Info from Workflow1": {
      "main": [
        [
          {
            "node": "Summarize Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Video": {
      "main": [
        [
          {
            "node": "Send Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "61231b0e-def9-43f3-8ffe-aa369324e0ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aeb458b20e713d5817b125787f16434360a4842a7df99fb7178135d5cd572fee"
  },
  "id": "SBgrf8PQ1casEkVu",
  "tags": []
}